h1{
    color: rgb(60, 153, 247);
    position: center;
    font-size: em2;
}
p{
    color: rgb(230, 155, 43);
    background-color: rgb(247, 243, 239);
    height: auto;
    width: 50%;
    font-size: medium;
}
ol{
    color:rgb(73, 88, 231);
}
main{
    background-color: rgb(119, 98, 22);
}
#one{
    color: crimson;
    font-size: x-large;
}
.tw{
    color: darkgoldenrod;
}